<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultURL" value="http://localhost/ExtImg/" />
		<add key="DefaultUserAgent" value="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.0; .NET CLR 1.1.4322)" />
		<add key="DefaultAccept" value="image/gif, image/x-xbitmap, image/jpeg, image/pjpeg, application/msword, application/vnd.ms-powerpoint, application/vnd.ms-excel, */*" />
		<add key="DefaultReferer" value="" />
		<add key="DefaultCustomHeaders" value="" />
		<add key="UserAgentMenu" value="Internet Explorer 6|Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1)|Firefox 1.0|Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.7.5) Gecko/20041107 Firefox/1.0|Nokia 6230|Nokia6230/2.0 (03.14) Profile/MIDP-2.0 Configurlation/CLDC-1.1" />
	</appSettings>
</configuration>
